## LaTeX
*.aux
*.out
*.dvi
*.log
*.synctex.gz
*.pdf
*.toc
*.rubbercache
*.fls
*.fdb_latexmk
.DS_Store
server/package-lock.json
server/node_modules
server/build
server/coverage

build
*.secret
*.json
!package.json
node_modules
*.sh
__pycache__
/script/.env
/script/*.log
/server/.env
!contract.json
contract/coverage
.apikey.secret.swp
!public/**.pdf