<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="keywords" content="Outgoing, Transactions, Status, Shop Chain">
  <meta name="description" content="View your outgoing transactions and their status on the Shop Chain web application">
  <meta charset="utf-8">
  <title>Outgoing | Shop Chain</title>

<%- include('header.ejs') %>

<input id="idWallet" type="hidden" value="<%=id%>">
<%-items%>

<%- include('footer.ejs') %>