<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@metamask/onboarding@1.0.1/dist/metamask-onboarding.bundle.js"></script>
<script type="text/javascript" src="js/app.js"> </script>

</div>
</div>
<footer>
    <dl>
        <dt><a href="https://www.synclab.it/" target="_blank">SyncLab</a></dt>
        <dd>
            <p>Software. Business. Innovazione.</p>
            <p>Sviluppiamo Valore.</p>
        </dd>
        <dt>
            <a href="mailto:winningsoftwaresolution@gmail.com" target="_blank">Winning Software Solution</a>
        </dt>
        <dd>
            <p>Giovanni Cocco, Matteo Galvagni, Federico Marchi, Alberto Nicoletti, Raffaele Oliviero, Elia Scandaletti, Andrea Volpe.</p>
        </dd>
        <dt>
            <a href="https://www.math.unipd.it/~tullio/IS-1/2021/" target="_blank">Ingegneria del Software - UniPd</a>
        </dt>
        <dd>
            <p>Prof. Tullio Vardanega, Prof. Riccardo Cardin.</p>
        </dd>
    </dl>
    <p>Copyright 2022 Winning Software Solution</p>
</footer>
</body>
</html>