<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Shop Chain</title>
  <meta name="author" content="Winning Software Solution">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" media ="screen and (max-width:600px), only screen and (max-width:600px)" href="css/mini.css"/>
</head>

<body>
  <header>
    <h1>Shop Chain</h1>
  </header>
  <div id="connect">
    <div>
      <h1>Connect with MetaMask</h1>
      <img src="img/meta.png" witdh="1200" height="1200" />
      <button id="connectButton">Connect</button>
    </div>
    <input id="serverURL" type="hidden" value="<%=serverURL%>" />
  </div>
  <div id="con">
    