<meta name="author" content="Winning Software Solution">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" media ="screen and (max-width:600px), only screen and (max-width:600px)" href="css/mini.css"/>
<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
<link rel="manifest" href="icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>

<body>
  <header>
    <a href="/" class="logo">
      <img id="logo" src="img/logo.png" alt="Shop Chain logo"/>
    </a>
    <div id="hamb" class="containerHamb" onclick="toggleMenu();" aria-haspopup="true" role="button" aria-label="menu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div id="header-right">
      <a id="listSeller" href="seller">Incoming</a>
      <a id="listBuyer" href="buyer">Outgoing</a>
      <a href="help">Help</a>
    </div>
  </header>
  <div id="connect" class="pop">
    <div>
      <h1>Connect with MetaMask</h1>
      <img src="img/meta.png" width="1200" height="1200" />
      <button id="connectButton" onclick="onClickConnect()">Connect with MetaMask</button>
    </div>
    <input id="serverURL" type="hidden" value="<%=serverURL%>" />
  </div>

  <div id="confirm" class="pop">
    <div>
      <h1>Awaiting confirmation</h1>
      <img src="img/meta.png" width="260" height="256" />
      <p>Please confirm the transaction in MetaMask</p>
      <button onclick="closePop(event)" aria-label="cancel transaction">Cancel</button>
    </div>
  </div>

  <div id="success" class="pop">
    <div>
      <h1>Transaction completed</h1>
      <img src="img/success.png" width="260" height="256" />
      <p>The transaction was successfully sent</p>
      <button onclick="closePop(event)" id="relocButton">Done</button>
    </div>
  </div>

  <div id="error" class="pop">
    <div>
      <h1>Transaction failed</h1>
      <img src="img/error.png" width="260" height="256" />
      <p>An error occurred processing the transaction</p>
      <button onclick="closePop(event)">Close</button>
    </div>
  </div>

  <div id="wrongChain" class="pop">
    <div>
      <h1>Wrong chain</h1>
      <img src="img/error.png" width="260" height="256" />
      <p>Please select <span id="chainName"></span> from MetaMask</p>
      <button onclick="location.reload()" aria-label="retry connection with metamask">Retry</button>
    </div>
  </div>

  <div id="sending" class="pop">
    <div>
      <h1>Awaiting receipt</h1>
      <img src="img/wait.gif" width="200" height="200" />
      <p>Hold on, this might take a bit...</p>
    </div>
  </div>
  <div class="notfooter">
    <div id="con">
