<div id="connect">
    <div>
        <h1>Connect with MetaMask</h1>
        <img src="img/meta.png" witdh="1200" height="1200" />
        <button id="connectButton">Connect</button>
    </div>
    <input id="serverURL" type="hidden" value="<%=serverURL%>" />
</div>