<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="keywords" content="Shop Chain, main page, login">
  <meta name="description" content="Welcome to Shop Chain! Allowing you to pay safely using the latest Smart Contract technology">
  <meta charset="utf-8">
  <title>Shop Chain</title>

<%- include('header.ejs', {current: 'main'}) %>

<div class="info" id="main">
<h2>Welcome to Shop&nbsp;Chain</h2>
<p>Our service allow your e-commerce to play safely using latest <strong>Blockchain</strong> and <strong>Smart contract</strong> technology.</p>
<p>Using <strong>Polygon</strong> a fast and reliable network.</p>
</div>

<%- include('footer.ejs') %>