<%- include('header.ejs') %>
<%- include('login-header.ejs') %>

<a id="listBuyer" class="rimosso" href="#">Mostra i miei acquisti</a>
<a id="listSeller" class="rimosso" href="#">Mostra le mie vendite</a>

<%- include('login-footer.ejs') %>
<%- include('footer.ejs') %>