<%- include('header.ejs') %>

<div class="info" id="main">
<h2>Welcome to Shop&nbsp;Chain</h2>
<p>Our service allow your ecommerce to play safely using latest <strong>Blockchain</strong> and <strong>Smart contract</strong> tecnology.</p>
<p>Using <strong>Polygon</strong> a fast and reliable network.</p>
</div>

<%- include('footer.ejs') %>