<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Incoming | Shop Chain</title>

<%- include('header.ejs') %>

<input id="idWallet" type="hidden" value="<%=id%>">
<%-items%>

<%- include('footer.ejs') %>