

#hamb {
    display: block;
    margin-right: 0.3em;
    float: right;
    width: 2.8em;
    height: 2.5em;
    font-weight: bold;
    color: white;
    background-color: #0c162c;
    border-style: none;
}

#header-right a {
    display: block;
    float: none;
    text-align: right;
}

#header-right {
    display: none;
    margin-top: 0em;
    clear: both;
}

.addr{
  display: flex;
  text-align: center;
  padding-left: 1.2em;
}

.copyButton{
  float: right;
  margin-left: 1em;
  min-width: 1.5em;
  min-width: 1.5em;
}

#seller, #buyer{
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5em;
}

.containerHamb {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2.1875em;
    height: 0.3125em;
    background-color: #FFFFFF;
    margin: 0.375em 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.5625em, 0.375em);
    transform: rotate(-45deg) translate(-0.5625em, 0.375em);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-0.5em, -0.5em);
    transform: rotate(45deg) translate(-0.5em, -0.5em);
}
